/*--------------------------------------------------------------------------*/

#container {
  overflow-x: hidden; 
  overflow-y: scroll;
  height: calc(100% - 20px - 16px - 100px - 70px);
  width: 100%;
}

#dashboardButton {
    box-shadow: 0px -5px 0px 0px white inset;
}
#navProfilePicture {
    float: left;
    margin: 0;
}
#userName {
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#name {
    margin: 0;
    font-size: 40px;
}
#trading {
    width: 100%;
    height: calc(100% - 128px);
    display: flex;
}
#tradeContainer, #sentContainer {
    width: calc(100% - 100px);
    padding: 0.5rem;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 2px grey;
}

.dashboardBox {
    height: calc(100% - 40px);
    width: calc(100% - 4px);
    background-color: white;
    margin: 2px;
    overflow-y: auto;
}
#sentBox, #receivedBox {
    display: none;
}

.tab {
    font-size: 16pt;
    background-color: #79A83C;
    width: calc(100% / 3 - 4px);
    display: block;
    margin-left: 3px;
    float: left;
    text-align: center;
}
.tab:hover{
    opacity: 0.7;
    cursor: pointer;
}


.item {
    margin: 0.5%;
    background: #ddd;
    transition: width 0.2s ease;
    box-shadow: inset 0px 0px 0px 5px #608C28;
}

.deleteButton, .declineButton, .acceptButton {
    float: right;
    width: 76px;
    padding: 0px 12px;
    height: 1.35em;
    line-height: 1.35em;
    border-radius: 5px;
    cursor: pointer;
    color: white; 
}
.deleteButton, .declineButton {
    background-color: rgb(170, 0, 0);
}

.acceptButton {
    background-color: #4CAF50;   
}

.statusLabel {
    color: rgb(70, 70, 70);
}



#cover2 {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    display:none;
}
