@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Dosis');

/* Remove body margin and make default font color white. */
body {
    margin: 0;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}
/* Adds background image and moves to back. */
#backgroundImage {
    position: fixed;
    width: 100%; height: 100%;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    z-index: -1;
}
/* Nav bar with its padding. */
#navBar {
    position: sticky;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    width: calc(100% - 100px);
    height: 70px;
    font-size: 18pt;
    padding: 0px 50px;
    background-image: url("../images/woodenboard.jpg");
    background-size: 100% 100%;
}
/* Content area. */
#main {
    width: calc(100vw - 180px);
    height: calc(100vh - 70px);
    margin: 0 auto;
    padding: auto 4px;
    background-image: url("../images/woodenboard.png");
}
/* Logo in text format. */
#logo {
    font-size: 24pt;
    float: left;
    margin: calc(24px - 6pt) 34px auto 0px;
    padding: 0px;
    font-weight: bold;
    pointer-events: none;
    
}
/* Removes hyperlink color for menu buttons and turns to white. */
.navButtonText, .loginOrSignupButtonText{
    color: white;
}

.navButton {
    display: none;
}

/* Centers text and floats left menu buttons. */
.navButton, .loginOrSignupButton {
    text-decoration: none;
    float: left;
    height: 70px;
    width: 120px;
    text-align: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

#profileButton {
    float: right;
    width: auto;
    height: 70px;
}

/* Highlights menu button when user hovers over it. */
.navButton:hover, .loginOrSignupButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Moves profile icon to the right and changes display to none. */
#navProfilePicture {
    margin: 0;
}
#navProfilePicture:hover {
    opacity: 0.8;
}
#navProfile {
    float: right;
}
/* Moves login and signup button to the right. */
#loginOrSignup {
    float: right;
}

/* Wrapper which vertically aligns nav bar buttons. */
.menuWrapper {
    display: inline-block;
    height: 70px;
    width: 100%;
    margin-top: 20px;
}


/*--------------------------------------------------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #AA6A39; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #804315; 
}

#container {
  overflow-x: hidden; 
  overflow-y: scroll;
  height: calc(100% - 20px - 16px - 100px - 70px);
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  top: 175px;
  left: 470px;
  padding: 1rem;
  float: left;
}
.buttons .listView {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.buttons .listView span {
  width: 100%;
  height: 8px;
  background: #ccc;
  transition: all 0.1s ease;
}
.buttons .listView span.active {
  background: #666;
}
.buttons .gridView {
  width: 25px;
  height: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  cursor: pointer;
}
.buttons .gridView span {
  width: 42%;
  height: 8px;
  background: #ccc;
  transition: all 0.1s ease;
}
.buttons .gridView span.active {
  background: #666;
}

.wrapper {
  background-image: url("../images/woodenboard.jpg");
  background-size: 20% auto;
  width: calc(100% - 100px);
  padding: 1.5rem;
  margin: 0 auto;
  box-shadow: 0px 20px 40px -20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}
.wrapper .item {
  width: 49%;
  height: 150px;
  margin: 0.5%;
  background: #ddd;
  transition: width 0.2s ease;
  box-shadow: inset 0px 0px 0px 5px #608C28;
}

.gridView {
  flex-wrap: wrap;
  flex-direction: row;
}
.grid .item {
  width: 48%;
  height: 340px;

}
.listView {
  flex-wrap: auto;
  flex-direction: column;
}
.list .item {
  width: 99%;
  height: 150px;
}


/*--------------------------------------------------------------------------*/

#searchAndFilterContainer {
    position: relative;
    background-image: url("../images/woodenboard.jpg");
    background-size: auto 100%;
    float: left;
    height: 100px;
    width: 98%;
    margin: 1%;
}

#searchContainer {
    margin-top: 33px;
    width: 65%;
    margin-left: 5%;
}
#searchBar {
    margin-left: 0px;
    width: 65%;
    height: 30px;
    font-size: 13pt;
    outline: none;
    border: 3px solid #79A83C;
    float: left;
}
#searchButton {
    cursor: pointer;
    background-color: #79A83C;
    border: 3px solid #79A83C;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 38px;
    outline: none;
    width: 40px;
    float: left;
}
#searchIcon {
    filter: contrast(1000%);
    width: 100%;
    height: 22px;
}
#searchBar[type=text]{
    padding-left: 10px;
}


#selectMenu {
    border: 3px solid #79A83C;
    border-radius: 5px 0px 0px 5px;
    height: 38px;
    font-size: 13pt;
    border-right: 0px;
    float: left;
}

#locationContainer {
    margin-top: 15px;
    margin-right: 5%;
    width: 20%;
    float: right;
    text-align: center;
}

#sliderBody {
    width: 100%;
    height: 20%;                                                                                                                                                                                                                
}
#sliderBody::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
#minKilo {
    float: left;
}
#maxKilo {
    float: right;
}
#locationText { 
    font-size: 14pt;
}

/* Layout for a listing */

.itemImageWrapper {
    height: calc(150px - 28px);
    width: calc(150px - 28px);
    display: inline-block;
    background-color: white;
    text-align: center;
    clip-path: inset(0 0 0 0);
    border: 2px solid #4CAF50;
} 
.itemImage {
    height: 100%;
    width: 100%;
}

.itemHeader {
    display: block;
    font-size: 18pt;
    margin: 0;
    width: 100%;
    overflow: hidden;
    line-height: 1.35em;
    height: 1.35em;
}
.itemDescription {
    display: block;
    float: left;
    width: 100%;
    height: 3.45em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.15em;
    margin: 0;
}

.item {
    color: black;
}

.itemText {
    float: right;
    width: calc(100% - 150px + 24px - 12px);
    font-size: 16pt;
}

.itemPadding {
    height: calc(100% - 24px);
    width: calc(100% - 24px);  
    margin: 12px;
}

.itemByUser {
    float: left;
    font-size: 12pt;
    color: rgb(112, 112, 112);
    font-style: italic;
}

.itemPostedOn {
    float: right;
    font-size: 12pt;
    color: rgb(112, 112, 112);
    font-style: italic;
}
/*-Pop-Up Form (Post)------------------------------------------------------------------*/

#postForm input[type=text], #postForm textarea {
    font-family: 'Titillium Web', sans-serif;
}
#postForm textarea {
    resize: none;
}
.alert{
  text-align: center;
  padding:10px;
  background: green;
  color: #fff;
  margin-bottom: 10px;
  display: none;

}

#postForm {
    font-size: 13pt;
    display: none;
    position: fixed;
    width: 800px;
    height: 70%;
    background-image: url("../images/woodenboard.jpg");
    background-size: 20% auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 20px 20px 60px 20px;
    overflow: auto;
    z-index: 2;
}
.radioPostForm {
    height: 13px;
    width: 13px;
}

#radioPostFormWrapper {
    float: right;
}

#postForm label {
    float: left;
}
#postForm {
    font-size: 12pt;
}
#produceName {
    padding: 4px 8px;
    font-size: 12pt;
    border-radius: 4px;
    width: calc(100% - 22px);
    height: 20px;
    display: block;
    float: left;
    margin-bottom: 12px;
}
#produceDescription {
    font-size: 12pt;
    padding: 4px 8px;
    border-radius: 4px;
    width: calc(100% - 22px);
    display: block;
}
#produceAdditionalInfo {
    padding: 4px 8px;
    font-size: 12pt;
    border-radius: 4px;
    width: calc(100% - 22px);
    display: block;
}

#postFormTitle {
    font-size: 24pt;
}

#formSubmit {
    border: 2px solid rgb(168, 168, 168);
    box-shadow: 0px;
    padding: 14px 24px;
    margin: auto 2%;
    font-size: 13pt;
    width: 30%;
    border-radius: 4px;
    margin-top: 24px;
}

#formSubmit:hover {
    opacity: 0.9;
    cursor: pointer;
}

#uploadWrapper {
    float: right;
    width: 180px;
    height: calc(220px - 8px);
    border: 4px solid rgb(168, 168, 168);
    background-color: white;
    border-radius: 4px;
}

#postFormInnerWrapper {
    width: calc(80% - 48px);
    float: left;
    height: 260px;
}

#additionalInfoWrapper {
    float: left;
    width: 100%;
}

#firebasetest {
    display: none;
    font-size: 13pt;
    position: fixed;
    background-color: ivory;
    background-size: 20% auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 10px;
    border: 10px solid green;
    box-shadow: 0px 1px 5000px black;
    z-index: 3;
}
#cover {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    display:none;
}