#container {
  overflow-x: hidden; 
  overflow-y: scroll;
  height: calc(100% - 20px - 16px - 100px - 70px);
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  top: 175px;
  left: 470px;
  padding: 1rem;
  float: left;
}
.buttons .listView {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.buttons .listView span {
  width: 100%;
  height: 8px;
  background: #ccc;
  transition: all 0.1s ease;
}
.buttons .listView span.active {
  background: #666;
}
.buttons .gridView {
  width: 25px;
  height: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  cursor: pointer;
}
.buttons .gridView span {
  width: 42%;
  height: 8px;
  background: #ccc;
  transition: all 0.1s ease;
}
.buttons .gridView span.active {
  background: #666;
}

.wrapper {
  background-image: url("../images/woodenboard.jpg");
  background-size: 20% auto;
  width: calc(100% - 100px);
  padding: 1.5rem;
  margin: 0 auto;
  box-shadow: 0px 20px 40px -20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}
.wrapper .item {
  margin: 0px;
  background: #ddd;
  transition: width 0.2s ease;
  box-shadow: inset 0px 0px 0px 5px #608C28;
}

.gridView {
  flex-wrap: wrap;
  flex-direction: row;
}
.grid .item {
  width: 45%;
  height: 320px;

}
.listView {
  flex-wrap: auto;
  flex-direction: column;
}
.list .item {
  width: 99%;
  height: 130px;
}


/*--------------------------------------------------------------------------*/

#searchAndFilterContainer {
    position: relative;
    background-image: url("../images/woodenboard.jpg");
    background-size: auto 100%;
    float: left;
    height: 100px;
    width: 98%;
    margin: 1%;
}

#searchContainer {
    margin-top: 33px;
    width: 65%;
    margin-left: 5%;
}
#searchBar {
    margin-left: 0px;
    width: 65%;
    height: 30px;
    font-size: 13pt;
    outline: none;
    border: 3px solid #79A83C;
    float: left;
}
#searchButton {
    cursor: pointer;
    background-color: #79A83C;
    border: 3px solid #79A83C;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 38px;
    outline: none;
    width: 40px;
    float: left;
}
#searchIcon {
    filter: contrast(1000%);
    width: 100%;
    height: 22px;
}
#searchBar[type=text]{
    padding-left: 10px;
}


#selectMenu {
    border: 3px solid #79A83C;
    border-radius: 5px 0px 0px 5px;
    height: 38px;
    font-size: 13pt;
    border-right: 0px;
    float: left;
}

#locationContainer {
    margin-top: 15px;
    margin-right: 5%;
    width: 20%;
    float: right;
    text-align: center;
}






/*-Pop-Up Form (Post)------------------------------------------------------------------*/

#postForm input[type=text], #postForm textarea {
    font-family: 'Titillium Web', sans-serif;
}
#postForm textarea {
    resize: none;
}
.alert {
  text-align: center;
  padding:10px;
  background: green;
  color: #fff;
  margin-bottom: 10px;
  display: none;

}
.warning {
    text-align: center;
    padding:10px;
    color: #fff;
    margin-bottom: 10px;
    display: none;
    background: red;
}

#postForm {
    font-size: 13pt;
    display: none;
    position: fixed;
    width: 800px;
    height: 70%;
    background-image: url("../images/woodenboard.jpg");
    background-size: 20% auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 20px 20px 60px 20px;
    overflow: auto;
    z-index: 2;
}
.radioPostForm {
    height: 13px;
    width: 13px;
}

#radioPostFormWrapper {
    float: right;
}

#postForm label {
    float: left;
}
#postForm {
    font-size: 12pt;
}
#produceName {
    padding: 4px 8px;
    font-size: 12pt;
    border-radius: 4px;
    width: calc(100% - 22px);
    height: 20px;
    display: block;
    float: left;
    margin-bottom: 12px;
}
#produceDescription {
    font-size: 12pt;
    padding: 4px 8px;
    border-radius: 4px;
    width: calc(100% - 22px);
    display: block;
}
#produceAdditionalInfo {
    padding: 4px 8px;
    font-size: 12pt;
    border-radius: 4px;
    width: calc(100% - 22px);
    display: block;
}

#postFormTitle {
    font-size: 24pt;
}

#formSubmit {
    border: 2px solid rgb(168, 168, 168);
    box-shadow: 0px;
    padding: 14px 24px;
    margin: auto 2%;
    font-size: 13pt;
    width: 30%;
    border-radius: 4px;
    margin-top: 24px;
}

#formSubmit:hover {
    opacity: 0.9;
    cursor: pointer;
}

#uploadWrapper {
    float: right;
    width: 180px;
    height: calc(220px - 8px);
    border: 4px solid rgb(168, 168, 168);
    background-color: white;
    border-radius: 4px;
}

#postFormInnerWrapper {
    width: calc(80% - 48px);
    float: left;
    height: 260px;
}

#additionalInfoWrapper {
    float: left;
    width: 100%;
}

#firebasetest {
    display: none;
    font-size: 13pt;
    position: fixed;
    background-color: ivory;
    background-size: 20% auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 10px;
    border: 10px solid green;
    box-shadow: 0px 1px 5000px black;
    z-index: 3;
}
#cover2 {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    display:none;
}
#cover {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    display:none;
}