#container {
  overflow-x: hidden; 
  overflow-y: scroll;
  height: calc(100% - 20px - 16px - 100px - 70px);
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  top: 175px;
  left: 470px;
  padding: 1rem;
  float: left;
  margin-left: 50px;
}
.buttons .listView {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.buttons .listView span {
  width: 100%;
  height: 8px;
  background: #ccc;
  transition: all 0.1s ease;
}
.buttons .listView span.active {
  background: #666;
}
.buttons .gridView {
  width: 25px;
  height: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  cursor: pointer;
}
.buttons .gridView span {
  width: 42%;
  height: 8px;
  background: #ccc;
  transition: all 0.1s ease;
}
.buttons .gridView span.active {
  background: #666;
}

.wrapper {
  background-size: 20% auto;
  width: 88%;
  padding: 1.5rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.wrapper .item {
  margin: 0px;
  background: #FDFDFD;
  transition: width 0.2s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.gridView {
  flex-wrap: wrap;
  flex-direction: row;
}
.grid .item {
  width: 45%;
  height: 320px;

}
.listView {
  flex-wrap: auto;
  flex-direction: column;
}
.list .item {
  width: 99%;
  height: 130px;
}


/*--------------------------------------------------------------------------*/

#searchAndFilterContainer {
    display: none;
    position: relative;
    background-size: auto 100%;
    float: left;
    height: 100px;
    width: 98%;
    margin: 1%;
}

#searchContainer {
    margin-top: 33px;
    width: 65%;
    margin-left: 5%;
    display: flex;
}
#searchBar {
    margin-left: 10px;
    width: 65%;
    height: 30px;
    font-size: 13pt;
    outline: none;
    border: 1px solid #79A83C;
    float: left;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#searchButton {
    cursor: pointer;
    background-color: #79A83C;
    border: 0px solid #79A83C;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 34px;
    outline: none;
    width: 50px;
    float: left;
    margin-right: 10px;
}
#searchIcon {
    filter: contrast(1000%);
    width: 100%;
    height: 22px;
}
#searchBar[type=text]{
    padding-left: 20px;
}


#selectMenu {
    border: 1px solid #79A83C;
    height: 35px;
    font-size: 13pt;
    float: left;
}
#locationContainer {
    display: inline;
    float: right;
    color: black;
}

#locationWrapper {
    display: flex;
}

#firebasetest {
    display: none;
    font-size: 13pt;
    position: fixed;
    background-color: ivory;
    background-size: 20% auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 10px;
    border: 3px solid green;
    box-shadow: 0px 1px 5000px black;
    z-index: 3;
}

#welcomeHeader {
    text-align: center;
}