@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Dosis');

/* Remove body margin and make default font color white. */
body {
    margin: 0;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}
/* Adds background image and moves to back. */
#backgroundImage {
    position: fixed;
    width: 100%; height: 100%;
    background-image: url("../images/bg.jpg");
    background-size: 100%;
    z-index: -1;
}
/* Nav bar with its padding. */
#navBar {
    position: sticky;
    top: 0px;
    bottom: 0px;
    width: calc(100% - 100px);
    height: 70px;
    font-size: 18pt;
    padding: 0px 50px;
    background-image: url("../images/woodenboard.jpg");
    background-size: 100% 100%;
}
/* Content area. */
#main {
    width: calc(100% - 100px);
    height: calc(100vh - 70px);
    margin: 0 auto;
    padding: auto 4px;
}
/* Logo in text format. */
#logo {
    font-size: 24pt;
    float: left;
    margin: calc(24px - 6pt) 34px auto 0px;
    padding: 0px;
    font-weight: bold;
    pointer-events: none;
}
/* Removes hyperlink color for menu buttons and turns to white. */
.navButtonText, .loginOrSignupButtonText{
    color: white;
}

/* Centers text and floats left menu buttons. */
.navButton, .loginOrSignupButton {
    text-decoration: none;
    float: left;
    height: 70px;
    width: 100px;
    text-align: center;
}

/* Highlights menu button when user hovers over it. */
.navButton:hover, .loginOrSignupButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Moves profile icon to the right and changes display to none. */
#profile {
    float: right;
    margin: 0;
    display: none;
}
/* Moves login and signup button to the right. */
#loginOrSignup {
    float: right;
}
/* Wrapper which vertically aligns nav bar buttons. */
.menuWrapper {
    display: inline-block;
    height: 70px;
    width: 100%;
    margin-top: 20px;
}

/*--------------------------------------------------------------------------*/


/* Create one column per row. */
.column {
  float: left;
  width: calc(100% - 28px);
  padding: 10px;
  margin: 2px 4px;
  background-color: grey;
}

/* Clear floats after the columns. */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the buttons. */
.btn {
  border: none;
  outline: none;
  padding: 6px 6px 2px;
  background-color: #F1F1F1;
  cursor: pointer;
  margin: 4px auto;
}

#btnContainer {
    margin: auto 4px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

#transparentBackground {
    position: fixed;
    width: calc(100% - 100px); 
    height: calc(100% + 70px);
    z-index: -1;
    opacity: 1;
    background-image: url("../images/woodenboard.png");
    transform: translateY(-70px);
}

/*--------------------------------------------------------------------------*/

.buttons {
  display: flex;
  justify-content: space-between;
  top: 175px;
  left: 470px;
  padding: 1rem;
  float: left;
}
.buttons .list {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.buttons .list span {
  width: 100%;
  height: 8px;
  background: #ccc;
  transition: all 0.3s ease;
}
.buttons .list span.active {
  background: #666;
}
.buttons .grid {
  width: 25px;
  height: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  cursor: pointer;
}
.buttons .grid span {
  width: 42%;
  height: 8px;
  background: #ccc;
  transition: all 0.3s ease;
}
.buttons .grid span.active {
  background: #666;
}

.wrapper {
  background-image: url("../images/woodenboard.jpg");
  width: calc(100% - 100px);
  padding: 2rem;
  margin: 2% auto;
  box-shadow: 0px 20px 40px -20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
}
.wrapper .item {
  width: 48%;
  height: 150px;
  margin: 1%;
  background: #ddd;
  transition: width 1s ease;
}

.grid {
  flex-wrap: wrap;
  flex-direction: row;
}
.grid .item {
  width: 48%;
}

.list {
  flex-wrap: auto;
  flex-direction: column;
}
.list .item {
  width: 98%;
}

/*-------------*/

#searchBar {
    background-image: url("../images/woodenboard.jpg");
    display: inline-block;
    height: 70px;
    width: 98%;
    margin: 1%;
}
#searchContainer {
    width: calc(50% + 20px);
    padding: 4px 8px;
    margin: 0;
}
#searchContainer type[text] {
    border-radius: 2px;
    margin-right: 0;
    border: 0;
}
#searchButton {
    border-radius: 0px;
    box-shadow: none;
}
#searchContainer img {
    margin-left: 0;
    border: 0;
}

#locationContainer {
    float: right;
    width: 300px;
}
#radioContainer {
    width: 300px;
    float: left;
}


