@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Dosis');
/** Nav bar and general layout. **/
/* Remove body margin and make default font color white. */
body {
    margin: 0;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}
/* Adds background image and moves to back. */
#backgroundImage {
    position: fixed;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("../background.jpg");
    background-size: cover;
    z-index: -1;
}
/* Nav bar with its padding. */
#navBar {
    z-index: 1;
    top: 0px;
    bottom: 0px;
    width: calc(100% - 100px);
    height: 70px;
    font-size: 18pt;
    padding: 0px 50px;
    background-size: 100% 100%;
}
/* Content area. */
#main {
    width: 80%;
    height: calc(100vh - 100px);
    margin: 0 auto;
    padding: auto 4px;
}
/* Logo in text format. */
#logo {
    font-size: 24pt;
    float: left;
    margin: calc(24px - 6pt) 34px auto 0px;
    padding: 0px;
    font-weight: bold;
    
}
/* Removes hyperlink color for menu buttons and turns to white. */
.navButtonText, .loginOrSignupButtonText{
    color: white;
}


/* Centers text and floats left menu buttons. */
.navButton, .loginOrSignupButton {
    text-decoration: none;
    float: left;
    height: 70px;
    width: 120px;
    text-align: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

#profileButton {
    float: right;
    width: auto;
    height: 70px;
}

/* Highlights menu button when user hovers over it. */
.navButton:hover, .loginOrSignupButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Moves profile icon to the right and changes display to none. */
#navProfilePicture {
    margin: 0;
}
#navProfilePicture:hover {
    opacity: 0.8;
}
#navProfile {
    float: right;
}
/* Moves login and signup button to the right. */
#loginOrSignup {
    float: right;
}

/* Sets login button to display none. */
#loginButton { 
    display: none;
}

/* Wrapper which vertically aligns nav bar buttons. */
.menuWrapper {
    display: inline-block;
    height: 70px;
    width: 100%;
    margin-top: 20px;
}


/** Scroll bar properties. **/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #79A83C; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #79A83C; 
}

/* Progress bar hidden*/
#uploader {
    display: none;
}

/* Layout for a listing */

.itemImage {
    height: 100%;
    width: 100%;
}
.itemImageWrapper {
    height: calc(150px - 28px);
    width: calc(150px - 28px);
    display: inline-block;
    background-color: white;
    text-align: center;
    clip-path: inset(0 0 0 0);
    border: 2px solid #4CAF50; 
}

.itemHeader {
    display: block;
    font-size: 18pt;
    margin: 0;
    float: left;
    overflow: hidden;
    line-height: 1.35em;
    height: 1.35em;
}
.itemDescription {
    display: block;
    float: left;
    width: 100%;
    height: 3.45em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.15em;
    margin: 0;
}
.statusLabel {
    float: right;
    height: 1.35em;
    line-height: 1.35em;
    color: white;
}
.sendOfferButton, .sendOfferButton2, .deleteButton {
    float: right;
    width: 76px;
    padding: 0px 12px;
    height: 1.35em;
    background-color: #79A83C;
    line-height: 1.35em;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.sendOfferButton:hover, .sendOfferButton2:hover {
    opacity: 0.5;
}

.item {
    color: black;
    padding: 12px;
}

.itemText {
    float: right;
    width: calc(100% - 150px + 24px - 12px);
    font-size: 16pt;
}

.itemByUser {
    float: left;
    font-size: 12pt;
    color: rgb(112, 112, 112);
    font-style: italic;
}

.itemPostedOn {
    float: right;
    font-size: 12pt;
    color: rgb(112, 112, 112);
    font-style: italic;
}

.homeButtonText {
    color: white; 
}

.homeButton:hover {
    cursor: pointer;
}

#postForm input[type=text], #postForm textarea {
    font-family: 'Titillium Web', sans-serif;
}
#postForm textarea {
    resize: none;
}
#postForm {
    font-size: 13pt;
    display: none;
    position: fixed;
    width: 800px;
    height: 80%;
    background-color: #FDFDFD;
    background-size: 20% auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 20px 20px 20px 20px;
    overflow: auto;
    z-index: 2;
    border-radius: 10px;
    color: grey;
}
.radioPostForm {
    height: 13px;
    width: 13px;
}

#radioPostFormWrapper {
    float: right;
}

#postForm label {
    float: left;
}

#produceName {
    padding: 4px 8px;
    font-size: 12pt;
    border-radius: 4px;
    width: calc(100% - 22px);
    height: 20px;
    display: block;
    float: left;
    margin-bottom: 12px;
}
#produceDescription {
    font-size: 12pt;
    padding: 4px 8px;
    border-radius: 4px;
    width: calc(100% - 22px);
    display: block;
}
#locationWrapper {
    padding: 4px 8px;
    font-size: 12pt;
    border-radius: 4px;
    width: calc(100% - 22px);
}

#postFormTitle {
    font-size: 24pt;
}

#formSubmit {
    border: none;
    box-shadow: 0px;
    padding: 14px 24px;
    margin: auto 2%;
    font-size: 13pt;
    width: 30%;
    border-radius: 4px;
    margin-top: 24px;
    color: white;
    background-color: #79A83C;
}

#formSubmit:hover {
    opacity: 0.9;
    cursor: pointer;
}

#uploadWrapper {
    margin-top: 20px;
    float: right;
    width: 180px;
    height: 210px;
    border: 0.5px solid rgb(168, 168, 168);
    background-color: white;
    border-radius: 4px;
}
#photo {
    width: inherit;
}
#prv {
    width: 180px;
    height: 210px;
}
#postFormInnerWrapper {
    width: calc(80% - 48px);
    float: left;
    height: 260px;
}

#additionalInfoWrapper {
    float: left;
    width: 100%;
}
#cover2 {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    display:none;
}
#cover {
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    display:none;
}
.alert {
    text-align: center;
    padding:10px;
    background: green;
    color: #fff;
    margin-bottom: 10px;
    display: none;
    
}
.warning {
    text-align: center;
    padding:10px;
    color: #fff;
    margin-bottom: 10px;
    display: none;
    background: red;
    margin: 0;
}