@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Dosis');

/* Remove body margin and make default font color white. */
body {
    margin: 0;
    color: white;
}
/* Adds background image and moves to back. */
#backgroundImage {
    position: fixed;
    width: 100%; height: 100%;
    background-image: url("../images/bg.jpg");
    background-size: 100%;
    z-index: -1;
}
/* Nav bar with its padding. */
#navBar {
    width: calc(100% - 100px);
    height: 70px;
    font-size: 18pt;
    font-family: 'Titillium Web', sans-serif;
    padding: 0px 50px;
    background-image: url("../images/woodenboard.png");
    background-size: 100% 100%;
}
/* Content area. */
#main {
    width: calc(100% - 100px);
    height: calc(100vh - 70px);
    margin: 0 auto;
    padding: auto 4px;
}
/* Logo in text format. */
#logo {
    font-size: 24pt;
    float: left;
    margin: calc(24px - 6pt) 34px auto 0px;
    padding: 0px;
    font-weight: bold;
    pointer-events: none;
}
/* Removes hyperlink color for menu buttons and turns to white. */
.navButtonText, .loginOrSignupButtonText{
    color: white;
}

/* Centers text and floats left menu buttons. */
.navButton, .loginOrSignupButton {
    text-decoration: none;
    float: left;
    height: 70px;
    width: 100px;
    text-align: center;
}

/* Highlights menu button when user hovers over it. */
.navButton:hover, .loginOrSignupButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Moves profile icon to the right and changes display to none. */
#profile {
    float: right;
    margin: 0;
    display: none;
}
/* Moves login and signup button to the right. */
#loginOrSignup {
    float: right;
}
/* Wrapper which vertically aligns nav bar buttons. */
.menuWrapper {
    height: 70px;
    margin-top: 20px;
}

/*--------------------------------------------------------------------------*/

/* Create one column per row. */
.column {
  float: left;
  width: calc(100% - 28px);
  padding: 10px;
  margin: 2px 4px;
}

/* Clear floats after the columns. */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the buttons. */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #F1F1F1;
  cursor: pointer;
  margin: 4px 0px 4px 4px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

#transparentBackground {
    position: fixed;
    width: calc(100% - 100px); height: 100%;
    z-index: -1;
    opacity: 0.9;
    background-color: #F1F1F1;
}
/*-------------*/
#search_bar {
    position: sticky;
    top: 70px;
    left: 50px;
    width: calc(100% - 100px);
    height: 80px;
    background-color: brown;
}
h1 {
    margin: 0px;
}
#vegetable {
    position: absolute;
    left: 300px;
    top: 30px;
}
#fruit {
    position: absolute;
    right: 600px;
    top: 30px;
}
#dist {
    position: absolute;
    right: 275px;
    font-size: 50px;
}
#s_container {
    filter: drop-shadow(1px 2px 1px grey);
    position: absolute;
    width: 200px;
    left: 50px;
    bottom: 20px;
}
img {
    position: relative;
    left: -5px;
    height: 20px;
    width: 20px;
}
#search {
    outline: none;
    height: 30px;
    width: 200px;
    border: 3px solid #00B4CC;
    border-radius: 5px;
}
#s_button {
    position: absolute;
    border-radius: 5px;
    border: 9px solid #00B4CC;
    background: #00B4CC;
    outline: none;
    right: -10px;
    top: 0px;
    height: 37.5px;
    width: 37.5px;
    cursor: pointer;
}

#toggle {
    position: absolute;
    left: 420px;
    bottom: 20px;
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}
label {
	cursor: pointer;
	width: 80px;
	height: 40px;
	background: red;
	display: block;
	border-radius: 100px;
	position: relative;
}
label:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 32px;
	height: 32px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}
input:checked + label {
	background: #bada55;
}
input:checked + label:after {
	left: calc(100% - 4px);
	transform: translateX(-100%);
}

#slider {
    position: absolute;
    width: 40%;
    filter: drop-shadow(1px 2px 1px grey);
    right: 40px;
    bottom: 20px;
}
#distance {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  transition: opacity .2s;
}
#distance::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
