@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Dosis');
/** Nav bar and general layout. **/
/* Remove body margin and make default font color white. */
body {
    margin: 0;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}
/* Adds background image and moves to back. */
#backgroundImage {
    position: fixed;
    width: 100%; height: 100%;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    z-index: -1;
}
/* Nav bar with its padding. */
#navBar {
    position: sticky;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    width: calc(100% - 100px);
    height: 70px;
    font-size: 18pt;
    padding: 0px 50px;
    background-image: url("../images/woodenboard.jpg");
    background-size: 100% 100%;
}
/* Content area. */
#main {
    width: calc(100vw - 180px);
    height: calc(100vh - 70px);
    margin: 0 auto;
    padding: auto 4px;
    background-image: url("../images/woodenboard.png");
}
/* Logo in text format. */
#logo {
    font-size: 24pt;
    float: left;
    margin: calc(24px - 6pt) 34px auto 0px;
    padding: 0px;
    font-weight: bold;
    pointer-events: none;
    
}
/* Removes hyperlink color for menu buttons and turns to white. */
.navButtonText, .loginOrSignupButtonText{
    color: white;
}


/* Centers text and floats left menu buttons. */
.navButton, .loginOrSignupButton {
    text-decoration: none;
    float: left;
    height: 70px;
    width: 120px;
    text-align: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

#profileButton {
    float: right;
    width: auto;
    height: 70px;
}

/* Highlights menu button when user hovers over it. */
.navButton:hover, .loginOrSignupButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Moves profile icon to the right and changes display to none. */
#navProfilePicture {
    margin: 0;
}
#navProfilePicture:hover {
    opacity: 0.8;
}
#navProfile {
    float: right;
}
/* Moves login and signup button to the right. */
#loginOrSignup {
    float: right;
}

/* Sets login button to display none. */
#loginButton { 
    display: none;
}

/* Wrapper which vertically aligns nav bar buttons. */
.menuWrapper {
    display: inline-block;
    height: 70px;
    width: 100%;
    margin-top: 20px;
}


/** Scroll bar properties. **/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }

/* Handle */
::-webkit-scrollbar-thumb {
background: #AA6A39; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #804315; 
}

/* Progress bar hidden*/
#uploader {
    display: none;
}

/* Layout for a listing */

.itemImage {
    height: 100%;
    width: 100%;
}
.itemImageWrapper {
    height: calc(150px - 28px);
    width: calc(150px - 28px);
    display: inline-block;
    background-color: white;
    text-align: center;
    clip-path: inset(0 0 0 0);
    border: 2px solid #4CAF50; 
}

.itemHeader {
    display: block;
    font-size: 18pt;
    margin: 0;
    float: left;
    overflow: hidden;
    line-height: 1.35em;
    height: 1.35em;
}
.itemDescription {
    display: block;
    float: left;
    width: 100%;
    height: 3.45em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.15em;
    margin: 0;
}
.sendOfferButton, .sendOfferButton2 {
    float: right;
    width: 76px;
    padding: 0px 12px;
    height: 1.35em;
    background-color: #4CAF50;
    line-height: 1.35em;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.sendOfferButton:hover, .sendOfferButton2:hover {
    opacity: 0.5;
}

.item {
    color: black;
    padding: 12px;
}

.itemText {
    float: right;
    width: calc(100% - 150px + 24px - 12px);
    font-size: 16pt;
}

.itemByUser {
    float: left;
    font-size: 12pt;
    color: rgb(112, 112, 112);
    font-style: italic;
}

.itemPostedOn {
    float: right;
    font-size: 12pt;
    color: rgb(112, 112, 112);
    font-style: italic;
}